*{
    margin:0;
    padding:0;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 107px;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    background: #303030e3;
    max-height: 100%;

    .left-side{

        h2{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: xxx-large;
            color: whitesmoke;
            transition: ease-in .5s;

            span{
                color: dodgerblue;
                transition: ease-in .5s;
            }

            span:hover{
                cursor: pointer;
                color: whitesmoke;
                transition: ease-in .5s;
            }
        }

        .mobile-logo{
            display: none;
        }

        h2:hover{
            color: dodgerblue;
            cursor: pointer;
            transition: ease-in .5s;
        }
    }

    .right-side{

        ul{
            display: flex;
            align-items: center;
            justify-content: center;

            li{
                margin: 0px 25px;
                list-style: none;
                font-size: x-large;
                font-family: system-ui;
                font-weight: 500;
                color: whitesmoke;
                transition: ease-in .5s;
            }

            li:hover{
                cursor: pointer;
                transition: ease-in .5s;
                color: rgb(188, 188, 188);
            }

            a{
                margin: 0 0 0 25px;
                font-size: x-large;
                font-family: system-ui;
                font-weight: normal;
                background: #0e77dd;
                border-radius: 75px;
                padding: 15px 25px;
                color: azure;
                transition: ease-in-out .5s;
            }

            a:hover{
                background: azure;
                color: #000000;
                transition: ease-in .5s;
                cursor: pointer;
            }
        }
    }
    
}

.section-1{
    height: 100vh;

    .sub1-section1{
        background-image: url(images/sub1-section1_img.avif);
        background-size: cover;
        min-height: 90%;
        width: 100%;
        float: left;
        height: -webkit-fill-available;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        .sub1-section1-textbox{

            background: #0e77dd;
            width: 32%;
            height: -webkit-fill-available;        

            h1{
                display: flex;
                align-items: center;
                justify-content: center;
                height: inherit;
                font-family: system-ui;
                font-weight: 200;
                font-size: 55px;
                color: whitesmoke;
                flex-direction: column;

                a{
                    margin: 104px 31px 0 0px;
                    font-family: system-ui;
                    font-weight: normal;
                    background: azure;
                    border-radius: 77px;
                    padding: 15px 61px;
                    color: black;
                    transition: ease-in-out .5s;
                    font-size: 30px;
                    cursor: pointer;
                }

                a:hover{
                    color: whitesmoke;
                    background: #000000;
                    transition: ease-in .5s;
                }
            }

            
        }
    }
}

.section-2{
    height: 63vh;
    background: #f5f5f5;

    .sub-section2{
        background: #0e77dd;
        width: -webkit-fill-available;
        height: 54%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;

        .left{
            h1{
                font-family: system-ui;
                font-weight: 400;
                font-size: 41px;
                color: whitesmoke;
                width: 30vw;
            }
        }

        .right{
            .head-text{
                font-family: system-ui;
                font-weight: 100;
                font-size: 27px;
                color: whitesmoke;
                padding-bottom: 7.5%;
            }

            .videoLinkBtn{
                width: 550px;;
                margin: auto;
                background: azure;
                padding: 18px 61px;
                display: flex;
                justify-content: space-around;
                border-radius: 20px;
                transition: ease-in .5s;

                h4{
                    font-family: system-ui;
                    font-weight: 400;
                    font-size: medium;
                    transition: ease-in .5s;
                }

                p{
                    font-family: system-ui;
                    font-size: medium;
                    transition: ease-in .5s;
                }
            }
            .videoLinkBtn:hover{
                background: #000000;
                transition: ease-in .5s;
                cursor: pointer;

                h4{
                    color: whitesmoke;
                    transition: ease-in .5s;

                }

                p{
                    color: whitesmoke;
                    transition: ease-in .5s;
                }
            }
        }
    }

    .reverse{
        flex-direction: row-reverse;
    }
}

//4k monitor
@media screen and (min-width:2000px){
    nav{
        justify-content: space-around;
    }
}

//tablet viewpoint
@media screen and (max-width:1445px){

    nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        // height: 13.5vh;
        position: fixed;
        width: 100vw;
        z-index: 9999;
        background: #303030e3;
        max-height: 15%;
        height:75px;
    
        .left-side{
    
            h2{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 25px;
                color: whitesmoke;
    
                span{
                    color: dodgerblue;
                    cursor: pointer;
                    transition: ease-in .5s;
                }

                span:hover{
                    color: rgb(226, 224, 224);
                    transition: ease-in .5s;
                }
            }
        }
    
        .right-side{
    
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
    
                li{
                    margin: 0px 25px;
                    list-style: none;
                    font-size: 15px;
                    font-family: system-ui;
                    font-weight: 500;
                    color: rgb(226, 224, 224);
                    cursor: pointer;
                    transition: ease-in .5s;
                }

                li:hover{
                    color: whitesmoke;
                    transition: ease-in .5s;
                }
    
                a{
                    margin: 0 0 0 25px;
                    font-size: 15px;
                    font-family: system-ui;
                    font-weight: normal;
                    background: #0e77dd;
                    border-radius: 75px;
                    padding: 9px 15px;
                    color: azure;
                    transition: ease-in-out .5s;
                }
    
                a:hover{
                    background: azure;
                    color: #000000;
                    transition: ease-in .5s;
                    cursor: pointer;
                }
            }
        }
    }
    
    .section-1{

        .sub1-section1{
            background-image: url(images/sub1-section1_img.avif);
            background-size: cover;
            min-height: 90%;
            width: 100%;
            float: left;
            height: 100vh;
            position: relative;
    
            .sub1-section1-textbox{
                h1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: inherit;
                    font-family: system-ui;
                    font-weight: 500;
                    font-size: 35px;
                    color: whitesmoke;
    
                    a{
                        margin: 42px 8px 0 0px;
                        font-family: system-ui;
                        font-weight: normal;
                        background: azure;
                        border-radius: 77px;
                        padding: 8px 45px;
                        color: black;
                        transition: ease-in-out .5s;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//tablet (smaller) viewpoint
@media screen and (max-width:1216px) {
    .section-2{
        .sub-section2{
            .left{
                h1{
                    font-size: 30px;
                }
            }
            .right{
                .head-text{
                    font-size: 25px;
                    text-align: justify;
                }
            }
        }
    }
}

//mobile
@media screen and (max-width:912px){
    nav{
        justify-content: center;
        .right-side{
            display: none;
        }
        .left-side{
            h2{
                display: none;
            }
            .mobile-logo{
                display: inline;
            }
        }
    }
}
