* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 107px;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background: rgba(48, 48, 48, 0.8901960784);
  max-height: 100%;
}
nav .left-side h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xxx-large;
  color: whitesmoke;
  transition: ease-in 0.5s;
}
nav .left-side h2 span {
  color: dodgerblue;
  transition: ease-in 0.5s;
}
nav .left-side h2 span:hover {
  cursor: pointer;
  color: whitesmoke;
  transition: ease-in 0.5s;
}
nav .left-side .mobile-logo {
  display: none;
}
nav .left-side h2:hover {
  color: dodgerblue;
  cursor: pointer;
  transition: ease-in 0.5s;
}
nav .right-side ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .right-side ul li {
  margin: 0px 25px;
  list-style: none;
  font-size: x-large;
  font-family: system-ui;
  font-weight: 500;
  color: whitesmoke;
  transition: ease-in 0.5s;
}
nav .right-side ul li .find-brand-li {
  background: #08335e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav .right-side ul li:hover {
  cursor: pointer;
  transition: ease-in 0.5s;
  color: rgb(188, 188, 188);
}
nav .right-side ul a {
  margin: 0 0 0 25px;
  font-size: x-large;
  font-family: system-ui;
  font-weight: normal;
  background: #0e77dd;
  border-radius: 75px;
  padding: 15px 25px;
  color: azure;
  transition: ease-in-out 0.5s;
}
nav .right-side ul a:hover {
  background: azure;
  color: #000000;
  transition: ease-in 0.5s;
  cursor: pointer;
}

.section-1 {
  height: 100vh;
}
.section-1 .sub1-section1 {
  background-image: url(images/sub1-section1_img.avif);
  background-size: cover;
  min-height: 90%;
  width: 100%;
  float: left;
  height: -webkit-fill-available;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-1 .sub1-section1 .sub1-section1-textbox {
  background: #0e77dd;
  width: 32%;
  height: -webkit-fill-available;
}
.section-1 .sub1-section1 .sub1-section1-textbox h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-family: system-ui;
  font-weight: 200;
  font-size: 55px;
  color: whitesmoke;
  flex-direction: column;
}
.section-1 .sub1-section1 .sub1-section1-textbox h1 a {
  margin: 104px 31px 0 0px;
  font-family: system-ui;
  font-weight: normal;
  background: azure;
  border-radius: 77px;
  padding: 15px 61px;
  color: black;
  transition: ease-in-out 0.5s;
  font-size: 30px;
  cursor: pointer;
}
.section-1 .sub1-section1 .sub1-section1-textbox h1 a:hover {
  color: whitesmoke;
  background: #000000;
  transition: ease-in 0.5s;
}

.section-2 {
  height: 63vh;
  background: #f5f5f5;
}
.section-2 .sub-section2 {
  background: #0e77dd;
  width: -webkit-fill-available;
  height: 54%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-2 .sub-section2 .left h1 {
  font-family: system-ui;
  font-weight: 400;
  font-size: 41px;
  color: whitesmoke;
  width: 30vw;
}
.section-2 .sub-section2 .right .head-text {
  font-family: system-ui;
  font-weight: 100;
  font-size: 27px;
  color: whitesmoke;
  padding-bottom: 7.5%;
}
.section-2 .sub-section2 .right .videoLinkBtn {
  width: 550px;
  margin: auto;
  background: azure;
  padding: 18px 61px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  transition: ease-in 0.5s;
}
.section-2 .sub-section2 .right .videoLinkBtn h4 {
  font-family: system-ui;
  font-weight: 400;
  font-size: medium;
  transition: ease-in 0.5s;
}
.section-2 .sub-section2 .right .videoLinkBtn p {
  font-family: system-ui;
  font-size: medium;
  transition: ease-in 0.5s;
}
.section-2 .sub-section2 .right .videoLinkBtn:hover {
  background: #000000;
  transition: ease-in 0.5s;
  cursor: pointer;
}
.section-2 .sub-section2 .right .videoLinkBtn:hover h4 {
  color: whitesmoke;
  transition: ease-in 0.5s;
}
.section-2 .sub-section2 .right .videoLinkBtn:hover p {
  color: whitesmoke;
  transition: ease-in 0.5s;
}
.section-2 .sub-section2 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-2 .sub-section2 .container .left h1 {
  font-size: 25px;
  text-align: center;
}
.section-2 .sub-section2 .container .right .head-text {
  font-size: 18px;
  text-align: center;
}
.section-2 .sub-section2 .container .right .videoLinkBtn {
  width: 400px;
}
.section-2 .reverse {
  flex-direction: row-reverse;
}

@media screen and (min-width: 2000px) {
  nav {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1445px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    background: rgba(48, 48, 48, 0.8901960784);
    max-height: 15%;
    height: 75px;
  }
  nav .left-side h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    color: whitesmoke;
  }
  nav .left-side h2 span {
    color: dodgerblue;
    cursor: pointer;
    transition: ease-in 0.5s;
  }
  nav .left-side h2 span:hover {
    color: rgb(226, 224, 224);
    transition: ease-in 0.5s;
  }
  nav .right-side ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .right-side ul li {
    margin: 0px 25px;
    list-style: none;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 500;
    color: rgb(226, 224, 224);
    cursor: pointer;
    transition: ease-in 0.5s;
  }
  nav .right-side ul li:hover {
    color: whitesmoke;
    transition: ease-in 0.5s;
  }
  nav .right-side ul a {
    margin: 0 0 0 25px;
    font-size: 15px;
    font-family: system-ui;
    font-weight: normal;
    background: #0e77dd;
    border-radius: 75px;
    padding: 9px 15px;
    color: azure;
    transition: ease-in-out 0.5s;
  }
  nav .right-side ul a:hover {
    background: azure;
    color: #000000;
    transition: ease-in 0.5s;
    cursor: pointer;
  }
  .section-1 .sub1-section1 {
    background-image: url(images/sub1-section1_img.avif);
    background-size: cover;
    min-height: 90%;
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
  }
  .section-1 .sub1-section1 .sub1-section1-textbox h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-family: system-ui;
    font-weight: 500;
    font-size: 35px;
    color: whitesmoke;
  }
  .section-1 .sub1-section1 .sub1-section1-textbox h1 a {
    margin: 42px 8px 0 0px;
    font-family: system-ui;
    font-weight: normal;
    background: azure;
    border-radius: 77px;
    padding: 8px 45px;
    color: black;
    transition: ease-in-out 0.5s;
    font-size: 20px;
    cursor: pointer;
  }
  .section-2 .sub-section2-responsive {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section-2 .sub-section2-responsive .container {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .section-2 .sub-section2-responsive .container .left h1 {
    padding-bottom: 5%;
  }
  .section-2 .sub-section2-responsive .container .right .videoLinkBtn {
    width: 545px;
  }
}
@media screen and (max-width: 1216px) {
  .section-2 .sub-section2 .left h1 {
    font-size: 30px;
  }
  .section-2 .sub-section2 .right .head-text {
    font-size: 25px;
    text-align: justify;
  }
  .section-2 .sub-section2-responsive {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section-2 .sub-section2-responsive .container {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .section-2 .sub-section2-responsive .container .left h1 {
    padding-bottom: 5%;
  }
  .section-2 .sub-section2-responsive .container .right .videoLinkBtn {
    width: 545px;
  }
}
@media screen and (max-width: 1000px) {
  nav {
    justify-content: center;
  }
  nav .right-side {
    display: none;
  }
  nav .left-side h2 {
    display: none;
  }
  nav .left-side .mobile-logo {
    display: inline;
  }
  .section-1 .sub1-section1 .sub1-section1-textbox {
    background: #0e77dd;
    width: 100%;
    height: 100%;
  }
  .section-1 .sub1-section1 .sub1-section1-textbox h1 {
    text-align: center;
    font-size: 50px;
  }
  .section-1 .sub1-section1 .sub1-section1-textbox h1 a {
    padding: 8px 81px;
  }
  .section-2 {
    height: 100vh;
  }
  .section-2 .sub-section2 {
    flex-direction: column;
  }
  .section-2 .sub-section2 .left h1 {
    width: auto;
    font-size: 22px;
    text-align: center;
  }
  .section-2 .sub-section2 .right .head-text {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  .section-2 .sub-section2 .right .videoLinkBtn {
    width: 200px;
    flex-direction: column;
    height: 100px;
  }
  .section-2 .sub-section2 .right .videoLinkBtn h4 {
    text-align: center;
  }
  .section-2 .sub-section2 .right .videoLinkBtn p {
    text-align: center;
    font-size: small;
  }
}/*# sourceMappingURL=style.css.map */